<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matkaklubi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    
    <link rel="stylesheet" href="matkaklubi.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="paiskonteiner">
        <div class="container">
            <%- include ("../partials/pais.ejs") %>
            <div class="row pealkiri">
                <div class="col-lg-6 pealkiri-tekstid">
                  <div class="rida1">
                      <h2>
                          Matkaklubi
                      </h2>
                      <img class="liblikas1 img-fluid" src="pildid/liblikas1.png" alt="">
                  </div>  
                  <div class="rida2">
                    <img class="liblikas2" src="pildid/liblikas2.png" alt="">
                      <h1>
                          Puhas Higi
                      </h1>
                  </div>
                  <div class="rida3">
                      <h3>
                          Tule liiguta ennast koos meiega
                      </h3>
                  </div>
                  <button class="nupp-paises">
                    Võta ühendust
                  </button>

                </div>
                <div class="d-none d-lg-block col-lg-6 pealispilt">
                    <img class="matkaja" src="pildid/matkaja.png" alt="">
                    <img class="vari" src="pildid/vari.png" alt="">
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div id="matkade_valjund" class="row pt-4">
        </div>
    </div>

    <script src="matkaklubi.js"></script>
</body>
</html>