<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matkaklubi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    
    <link rel="stylesheet" href="matkaklubi.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
        <div class="container">
            <h1>Matkaklubi administreerimine</h1>
            <div>
                <h2>Lisa uudis</h2>
                <div>
                    <form action="#">
                        <div class="form-group">
                            <label for="pealkiri">Pealkiri:</label>
                            <input type="text" class="form-control" name="pealkiri" id="pealkiri" />
                        </div>
                        <div class="form-group">
                            <label for="comment">Uudis:</label>
                            <textarea class="form-control" rows="10" name="uudis" id="uudis"></textarea>
                        </div>
                        <button class="btn btn-primary" onclick="alert('Saada uudis')" >Salvesta</button>
                    </form>
                </div>
        </div>
</body>
</html>